<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title> Listado de Usuarios </title>
</head>

<body>
  <div style="height:0px;"> &nbsp; </div>
  <div id="usuario-index">
    <div style="float:left width: 80%"><br/><br/>
      <h2 style="margin-top:1px;"> Listado de Usuarios </h2><br/>
      
      <!--<p>
        <tr class="navigation" py:if="currentPage.page_count > 1">
           <td colspan="4" class="pager">${currentPage.pager()}</td>
        </tr>
        <tr class="navigation" py:if="currentPage.item_count == 0">
            <td colspan="4" class="pager">No se encontraron usuarios</td>
        </tr>
      </p>-->
      <form method="post" action="/ListarUsuarios">
      <!--USUARIOS DE SISTEMA: usuarios que no tienen roles dentro de proyectos-->
      <label><b><u>USUARIOS DE SISTEMA</u>:</b></label><br/><br/>
      <table class="roles-listado">
        <thead>
            <tr>
	      <th>Editar</th>
	      <th>Agregar roles</th>
	      <th>Quitar roles</th>
	      <th>Eliminar</th>
	      <th>Id</th>
	      <th>Username</th>
	      <th>Nombre completo</th>
	      <th>Telefono</th>
	      <th>Dirección</th>
	      <th>Email</th>
	      <th>Roles</th>
            </tr>
        </thead>    
	<tbody>
	    <tr py:for="usuario in uds">
	    <th> <a href="/EditarUsuario/${usuario.user_id}">Editar</a> </th>
	    <th> <a href="/EditarUsuarioAgregarRoles/${usuario.user_id}">Agregar roles</a> </th>
	    <th> <a href="/EditarUsuarioQuitarRoles/${usuario.user_id}">Quitar roles</a> </th>
	    <th> <a href="/EliminarUsuario/${usuario.user_id}">Eliminar</a></th>
	    <th class="user-id">${usuario.user_id}</th>
            <td class="user-name">${usuario.user_name}</td>
            <td class="user-fullname">${usuario.user_fullname}</td>
	    <td class="user-telefono">${usuario.user_telefono}</td>
	    <td class="user-direccion">${usuario.user_direccion}</td>
	    <td class="user-email_address">${usuario.email_address}</td>
	    <td class="user-roles"> <a  href="/ListarRolesUsuariosSistema/${usuario.user_id}">Ver Roles</a></td>
            </tr>
        </tbody>
      </table><br/><br/><br/>

      <!--USUARIOS DE PROYECTO-->	
      <label><b><u>USUARIOS DE PROYECTO</u>:</b></label><br/>	
      <py:for each="i, pu in enumerate(proyectos_usuarios)">
      <py:if test="i%2==0">
      <br/><label><b>*<u>Proyecto $pu.nombre</u>:</b></label><br/><br/>	
      </py:if>
      <py:if test="i%2!=0">
      <py:if test="pu">
      <table class="roles-listado">
        <thead>
            <tr>
	      <th>Editar</th>
	      <th>Agregar roles</th>
	      <th>Quitar roles</th>
	      <th>Eliminar</th>
	      <th>Id</th>
	      <th>Username</th>
	      <th>Nombre completo</th>
	      <th>Telefono</th>
	      <th>Dirección</th>
	      <th>Email</th>
	      <th>Roles</th>
            </tr>
        </thead>
	<tbody>
	    <tr py:for="usuario in pu">
	    <th> <a href="/EditarUsuario/${usuario.user_id}">Editar</a> </th>
	    <th> <a href="/EditarUsuarioAgregarRoles/${usuario.user_id}">Agregar roles</a> </th>
	    <th> <a href="/EditarUsuarioQuitarRoles/${usuario.user_id}">Quitar roles</a> </th>
	    <th> <a href="/EliminarUsuario/${usuario.user_id}">Eliminar</a></th>
	    <th class="user-id">${usuario.user_id}</th>
            <td class="user-name">${usuario.user_name}</td>
            <td class="user-fullname">${usuario.user_fullname}</td>
	    <td class="user-telefono">${usuario.user_telefono}</td>
	    <td class="user-direccion">${usuario.user_direccion}</td>
	    <td class="user-email_address">${usuario.email_address}</td>
	    <py:for each="j, pu in enumerate(proyectos_usuarios)">
	    <py:if test="j==i-1">
	    <td class="user-roles"> <a  href="/ListarRolesUsuariosProyecto2/$pu.codproyecto/${usuario.user_id}">Ver Roles</a></td>
	    </py:if>
	    </py:for>
            </tr>
        </tbody>
      </table>
      </py:if>
      </py:if>
      <py:if test="not pu">
      <td>Este proyecto no tiene usuarios</td>
      </py:if>
      </py:for><br/><br/><br/>
	<p>
        <input type="submit" value="Regresar a Listado de Usuarios" />
	</p><br/><br/>

  </form>
  </div>
  </div>
  <div class="clearingdiv" />
</body>
</html>
