<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title> Listado de Roles por Proyecto </title>
</head>

<body>
  <div style="height:0px;"> &nbsp; </div>
  <div id="rol-index">
    <div style="float:left width: 80%">
      <h2 style="margin-top:1px;"> -Listado de Roles por Proyecto-</h2>
      <a href="/NuevoRolProyecto/${proyecto_id}">Nuevo rol</a>
      <br/>
      <br/>
      <table class="roles-listado">
        <thead>
            <tr>
	      <th>Agregar Permisos</th>
	      <th>Quitar Permisos</th>
	      <th>Eliminar</th>
	      <th>Id</th>
	      <th>Nombre</th>
	      <th>Descripción</th>
	      <!--<th>Usuarios</th>-->
	      <th>Permisos</th>
            </tr>
        </thead>

        <tbody>
          <tr py:for="rol in roles">
	    <th> <a  href="/EditarRolAgregarPermisosProyecto/${rol.group_id}/${proyecto_id}">Agregar Permisos</a> </th>
	    <th> <a  href="/EditarRolQuitarPermisosProyecto/${rol.group_id}/${proyecto_id}">Quitar Permisos</a> </th>
	    <th> <a href="/EliminarRolProyecto/${rol.group_id}/${proyecto_id}">Eliminar</a></th>
	    <th class="rol-id">${rol.group_id}</th>
            <td class="rol-name">${rol.group_name}</td>
            <td class="rol-descripción">${rol.group_description}</td>
	    <!--<td class="rol-usuarios"><py:for each="user in rol.users">${user.user_name} </py:for></td>-->
	    <!--<td class="user-roles"> <py:for each="permiso in rol.permissions">"${permiso.permission_name}" </py:for></td>-->
	    <td class="user-roles"> <a  href="/ListarPermisosRolesProyecto2/${proyecto_id}/${rol.group_id}">Ver Permisos</a></td>
            </tr>
        </tbody>

    </table>
  </div>
  </div>
  <div class="clearingdiv" />
</body>
</html>
